<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pastebin.py 🐍</title>
    <link
      rel="stylesheet"
      href=" {{ url_for('static',filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="main-content">
      <p>BROWSER USAGE</p>
      <p><a href="https://paste.rs/web">https://paste.rs/web</a></p>
      <p>API USAGE</p>
      <p></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
  </body>
</html>
